<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="font-family: Helvetica;background-color: #000000;color:#FFFFFF;padding:60px;width:600px">
      <img src="http://www.fxaddictsschool.com/assets/logo_company_04.png" style="width:200px;height:55px;" alt="Logo Fx Addicts" %>
      <br/>
      <br/>
      <p style="font-size:25px;font-weight:100;">Sua compra foi efetuada com sucesso!
      <div style="font-size:16px;font-weight:100;">No dia do treinamento voc&#234; receber&#225; um link com a sala
        em que<br/> a aula acontecer&#225;.
      </div>
      </p>
      <br/>
      <br/>
      <br/>
      <br/>
      <p style="font-size:16px;font-weight:100;">Em caso de d&#250;vidas entre em contato conosco atrav&#233;s do e-mail abaixo<br/>
        e certamente teremos prazer em atend&#234;-lo.
      </p>
      <p style="font-size:16px;font-weight:100;"><a href="mailto:contato@fxaddictsschool.com" style="text-decoration:none;color:#FFFFFF;font-weight:400;">contato@fxaddictsschool.com</a></p>
    </div>
  </body>
</html>