body {
	background: image-url('bg_06.jpg');
}

.navbar {
	margin-bottom: 0px;
}

.container {
	padding-top:50px;
	max-width: 882px;
}

.hero-unit {
	background: image-url('map.png') no-repeat;
	max-width: 924px;
	padding:5px!important;
}

.hero-unit h1 {
	
	color: #e1e1e1;
	font-family: 'Exo', sans-serif;
	font-size: 72px;


}
.hero-unit p {
	max-width: 1050px;

}

.highlight_logo h2 {
	color: #ffd200;
	font-size: 25px;
	margin-top:50px;
	text-align: center;
	line-height: 27px;
	font-weight: 100!important;
}

.introduce_phrase {
	font-size:24px!important;
	margin-top:120px;
	margin-bottom: 0px;
	color:#a7a4a4!important;
	line-height: 9px!important;
	font-family: 'Ubuntu Condensed' !important;
	font-style: normal!important;
	font-weight: 400!important;
}

.vagas {
	font-size: 86px;
	text-shadow: 1px 1px black;
	height: 78px;
	line-height: 86px;
	margin-left:0px;
}

.proxima_turma {
	font-size: 22px;
	line-height: 96px;
	text-shadow: 2px 2px black;
}

.proxima_turma span {
	color: #a1a1a1;
}

.separator {
	margin-left: 1.5%!important;
	margin-right: 1.5%!important;
}
.row-fluid .span4_5 {
  width: 33.17094%;
  *width: 33.17094%;
}
.row-button {
	margin-top: 80px;
}

.btn_inscreva_line {
	line-height: 10px;
	margin-top: 19px;
	margin-left:0px!important;
}
.btn_inscreva {
	background: image-url('btn_inscrevase_51.png') 0 0 no-repeat;
	width:203px;
	height:71px;
	display: block;
	font-size: 25px;
	font-family: 'Helvetica';
	padding: 0px 0px;
	font-weight: 100;
	text-shadow: 1px 1px #444444;
}
.btn_inscreva:hover {
	background: image-url('btn_inscrevase_51.png') 0 -70px no-repeat;
}
.row-chamada-bloco {
	margin-top:80px;
	margin-bottom: 40px;
}

.link_email {
	background: none!important;
	height: 10px!important;
	font-size: 12px!important;
	display:inline!important;
}

.row-chamada-bloco h2 {
	font-family: 'Exo', sans-serif;
	font-weight: 500!important;
	font-size: 24px;
	color: #cbf73a!important;
	text-shadow: 2px 2px black;
	font-style: normal;
	font-variant: normal;
	line-height: 25px;

}

.row-chamada-bloco p {
	font-size: 20px;
	margin-top: 0px;
	line-height: 22px;
	color:#FFFFFF;
	display: inline;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	word-spacing: 0px;
}

.feature h3 {
	color: #cbf73a!important;
	font-weight: 500;
	font-size:20px;

}
.feature p {
	font-weight: 100;
	font-size:16px;
}

.margin_top1 {
	margin-top: 50px
}

.photo {
	width:116px!important;
	margin-left: 0px!important;
}
.familiar {
	text-align: center;
}
.familiar strong {
	font-family: 'Exo', sans-serif;
	font-size: 21px;
}

.feature p {
	font-weight: 100;
	font-size:19px;
}

.name {
	font-size: 15px;
	color: #909090;
	margin-left:200px!important;
	margin-top: 10px;
}
.row-button-final a {
	margin: auto;
}

.footer {
	font-family: helvetica;
	font-size: 12px;
	color: #606060;
	text-align: center;
	margin-top: 200px;
	margin-bottom:30px;
	
}
.footer p {
	margin-left:00px!important;
	padding:0;
}

.center {
	text-align: center;
	margin-left: 0px!important;
}

.download {
	margin-left: 20px;
	margin-top: 448px;
	display: block;
}
.duvidas {
	margin-left: 26px;
}

.duvidas_final {
	margin: auto;
	width: 153px;
}





/* ANALISE DIARIA */

.proxima_analise_diaria {
	font-size: 34px;
	line-height: 49px;
	text-shadow: 2px 2px 
	black;
}

.proxima_analise_diaria span {
	color: #a1a1a1;
}

.email_field {
	min-height: 38px!important;
	font-size: 21px!important;
}

.btn_participe_analise {
	background: image-url('ad_07.png') 0 0 no-repeat;
	width:200px;
	height:47px;
	display: block;
	font-size: 25px;
	font-family: 'Helvetica';
	padding: 0px 0px;
	font-weight: 100;
	text-shadow: 1px 1px #444444;
}
.btn_participe_analise:hover {
	/*background: image-url('ad_07.png') 0 -70px no-repeat;*/
}
.div_email {
	font-size: 86px;
	text-shadow: 1px 1px black;
	height: 78px;
	line-height: 86px;
	margin-left:0px!important;
	width:42%!important;
	margin-top: 2px;

}
.row_form {
	/*margin-top:40px;*/
}

.notice_success {
  font-family: 'Exo', cursive;
  font-size:20px;
  /*position: relative;*/
  /*float: left;*/
  width: 100%;
  text-align: center;
  padding: 24px;
}